.bodyMain {
  border: 3px solid;
  border-radius: 4px;
  padding: 5px 5px 7px 5px;
  margin: 15px 150px 4px 150px;
  display: flex;
  flex-wrap: wrap;
  animation: borderAnimation 5s infinite alternate;
  font-family: "Rubik", sans-serif;
  background-image: linear-gradient(
    rgba(150, 220, 241, 0.5),
    rgba(32, 160, 245, 0.5)
  );
}
@keyframes borderAnimation {
  0% {
    border-color: #225763;
  }
  33% {
    border-color: #41d8bf;
  }
  66% {
    border-color: #2f89b3;
  }
  100% {
    border-color: #3b50b2;
  }
}
.child {
  margin: 0 10px 0 10px;
  border-radius: 10px;
}
.cityName {
  font-size: 50px;
  width: 60%;
  margin-right: -2px;
  font-family: "Roboto Slab", serif;
  text-align: left;
}
.parameters {
  margin-top: -20px;
  width: 40%;
  text-align: left;
  font-size: 18px;
}

.tempMinMax {
  width: 150px;
  width: 30%;
  text-align: right;
  padding-top: 30px;
  padding-right: 10px;
  font-size: 18px;
  margin-left: 0;
}
.day {
  width: 35%;
  height: 50px;
  padding-top: 20px;
  text-align: left;
  font-size: 18px;
}
.date {
  height: 50px;
  width: 40%;
  text-align: left;
  font-size: 18px;
}
.units {
  width: 10%;
  font-size: 18px;
  margin-left: -35px;
}
.temperature {
  width: 20%;
  padding-top: 5px;
  margin-left: 110px;
  font-size: 40px;
}
.icon {
  width: 50%;
  margin-top: -30px;
}
.description {
  margin-top: -20px;
  font-size: 18px;
  width: 50%;
  text-align: center;
}
.celsius,
.fahrenheit {
  color: black;
}
