.bodyMain {
  border: 3px solid;
  border-radius: 4px;
  padding: 5px 5px 7px 5px;
  margin: 15px 150px 4px 150px;
  display: flex;
  flex-wrap: wrap;
  animation: borderAnimation 5s infinite alternate;
  font-family: "Rubik", sans-serif;
  background-image: linear-gradient(
    rgba(150, 220, 241, 0.5),
    rgba(32, 160, 245, 0.5)
  );
}
@keyframes borderAnimation {
  0% {
    border-color: #225763;
  }
  33% {
    border-color: #41d8bf;
  }
  66% {
    border-color: #2f89b3;
  }
  100% {
    border-color: #3b50b2;
  }
}
.child {
  margin: 0 10px 0 10px;
  border-radius: 10px;
  /* background-color: rgba(25, 125, 158, 0.226); */
}
.cityName {
  font-size: 60px;
  /* background-color: rgba(139, 0, 0, 0.5); */
  width: 50%;
  margin-right: 40px;
  font-family: "Roboto Slab", serif;
}
.parameters {
  /* background-color: rgba(216, 112, 147, 0.5); */
  margin-top: 0;
  width: 40%;
  text-align: left;
  font-size: 18px;
}
.tempMinMax {
  width: 150px;
  /* background-color: rgba(0, 100, 0, 0.5); */
  width: 30%;
  text-align: right;
  padding-top: 30px;
  padding-right: 10px;
  font-size: 18px;
}
.day {
  /* background-color: rgba(240, 230, 140, 0.5); */
  width: 35%;
  height: 50px;
  padding-top: 20px;
  text-align: left;
  font-size: 18px;
}
.date {
  /* background-color: rgba(216, 112, 147, 0.5); */
  height: 50px;
  margin-top: 0;
  width: 40%;
  text-align: left;
  font-size: 18px;
}
.units {
  /* background-color: rgba(128, 0, 128, 0.5); */
  width: 10%;
  font-size: 18px;
}
.temperature {
  /* background-color: rgba(0, 0, 255, 0.5); */
  width: 20%;
  padding-top: 5px;
  margin-left: 80px;
  font-size: 40px;
}
.icon {
  /* background-color: rgba(255, 99, 71, 0.5); */
  width: 50%;
}
.description {
  /* background-color: rgba(255, 255, 0, 0.5); */
  font-size: 18px;
  width: 50%;
  text-align: center;
}
.celsius,
.fahrenheit {
  color: black;
}
